body{
    margin:0;
    font-family: 'Montserrat',sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

/* Container */
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background: 
    url(../mogo/images/mogoimg-1.jpg) center
    no-repeat;

    -webkit-backdrop-size:cover ;
    background-size: cover;
}

.intro__inner{
    width: 100%;
    max-width: 630px;
    margin: 0 auto;

    text-align: center;
}

.intro__title{
    color: #fff;
    font-size: 66px;/*высота текста*/
    font-weight: 550;/*жтрност текста*/
    text-transform: uppercase; /*все большые*/
    /*text-align: center; все в центре*/
    line-height: 1; /*место между строками*/
}
.intro__title:after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;

    background: #fff;
}

.intro__suptitle{
    margin-bottom: 20px;

    
    font-family: 'Kaushan Script',cursive;
    font-size: 35px;
    color:#fff;
    /* text-align: center; */
}


/* Header */
.header {
    width: 100%;
    padding-top: 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-left: 150px;
}

/* Nav */
.nav{
    font-size: 12px;
    text-transform: uppercase;

}
.nav_link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color 0.1s linear;
}
.nav_link:after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    

    background-color: #fce38a;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity 0.1s linear;
}
.nav_link:hover {
    color: #fce38a;
}
.nav_link:hover:after,
.nav_link.active:after{
    opacity: 1;
}

.nav_link.active{
    color:#fce38a;
}

/* Button */
.btn{
    display:inline-block;
    vertical-align: top;
    padding: 8px 30px;

    border: 3px solid #fff;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    transition: background 0.1s
    linear, color .1s linear ;
}

.btn:hover{
    background-color: #fff;
    color:#333;
}
/* Slider */
.slider{
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner{
    display: flex;
    justify-content:space-between;
}

.slider__item{
    width: 16%;
    padding:15px 0;
    position: relative;

    border-top: 3px solid #fff;
    opacity: 0.7;

    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
}

.slider__item.active{
    opacity: 1;
}
 
.slider__item.active:before{
    content: "";
    display:block;
    width: 70px;
    height: 3px;

    background-color: #f38181;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num{
    font-size:18px;
    font-weight: 500;
}